* {
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    margin: 15px;
}
html {
    margin: 0;
    padding: 0;
}
body {
    max-width: 600px;
    margin: 30px auto;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.judul {
    background-color: red;
}


/* .p3:active {
    background-color: aqua;
} */